<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
          
        </div>
        <div class="card-content">
            <div class="card-body">
              
                <p>Traversal Rezervasyon web sitemizin Kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazi istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz.
                    Gezi dolu daha nice günde buluşmak dileğiyle...
                </p>

                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th>
                                    <h5 class="primary"><b>Aktif Rezervasyon Sayınız: @ViewBag.destAccept </b></h5>
                                    <br />
                                    <h5 class="primary"><b>Geçmiş Rezervasyon Sayınız: @ViewBag.destOld</b> </h5>
                                    <br />
                                    <h5 class="primary"><b>Onay Bekleyen Rezervasyon Sayınız: @ViewBag.destApproval</b> </h5>
                                    <br />
                                    <h5 class="dark"><b>Toplam Rota Sayısı: @ViewBag.totalDestinations</b> </h5>
                                    <br />
                                    <h5 class="dark"><b>Rehber Sayımız: @ViewBag.guideCount</b> </h5>
                                    <br />
                                    <h5 class="secondary"><b>Toplam Misafir Sayımız: @ViewBag.totalUsers</b> </h5>
                                    <br />
                                    <h5 class="success"><b>Ortalama Memnuniyet Puanımız: 9.1/10</b> </h5>
                                    <br /><br /><br /><br /><br /><br />
                                </th>                     
                            </tr>
                           
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
</div>
